<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    {% if title %}
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% else %}
    <title>Page</title>
    {% endif %}
    
</head>
<body class="class-body">
    <nav class="py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Pricing</a></li>
            <li class="nav-item"><a href="users" class="nav-link link-body-emphasis px-2">Users</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li>
          </ul>
          <ul class="nav">
            <li class="nav-item"><a href="login" class="nav-link link-body-emphasis px-2">Login</a></li>
            <li class="nav-item"><a href="sign_up" class="nav-link link-body-emphasis px-2">Sign up</a></li>
          </ul>
        </div>
      </nav>
    {% block body %}{% endblock %}
</body>
</html>