{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
<div class="users_table">
    <h3>Users</h3>
    <table border="1" class = 'users_table'>
    {% for user in articles %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created_on}}</td>
        </tr>

    {% endfor %}
    </table>
</div>
{% endblock %}


